In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from numpy.random import RandomState

import scipy
from sklearn.cluster import KMeans




rs = RandomState(12345)

# import data
# make predicitions on this data set
predict_df = pd.read_csv('./synthetic_dataset_evaluation.csv')
predict_df.describe()

,Feature_A,Feature_C,Feature_E,Feature_K,Feature_L,Feature_M
count,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,3.833033,19148.159950,1.004217,110.828150,7.991267,4.046067
std,1.363423,10308.292904,0.255293,757.215597,38.160559,1.231131
min,1.700000,1930.200000,0.100000,0.000000,0.000000,0.100000
25%,2.700000,12074.275000,0.900000,0.000000,0.000000,4.000000
50%,3.700000,18134.000000,1.000000,0.000000,0.000000,4.000000
75%,4.700000,24082.325000,1.200000,0.000000,0.000000,4.500000
max,9.000000,103855.300000,1.600000,9999.900000,368.300000,9.900000

In [ ]:
eval_df = pd.read_csv('./synthetic_dataset.csv')
eval_df.describe()